.menu {
  display: flex;
  flex-direction: column;
  padding: 5px;
  align-items: center;
}

.menu a {
	color: #666;
}

.menu > * {
	margin-top: 6px;
}

.menu a.menu-selected {
	color: #fff;
}

.menu .material-icons {
  font-size: 36px;
}

.menu-avatar {
  width: 50px;
  border-radius: 50px;
}